USE [VapeStore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/8/2020 2:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](50) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[email] [nvarchar](70) NOT NULL,
	[phonenumber] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
 CONSTRAINT [PK__Account__F3DBC573146EE33D] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/8/2020 2:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 11/8/2020 2:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](70) NOT NULL,
	[subject] [nvarchar](100) NOT NULL,
	[message] [nvarchar](800) NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 11/8/2020 2:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imgsrc] [nvarchar](500) NULL,
	[productID] [int] NOT NULL,
 CONSTRAINT [PK__Image__3213E83F15A3249C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/8/2020 2:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[phonenumber] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[country] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[city] [nvarchar](50) NULL,
	[postcode] [nvarchar](50) NULL,
	[message] [nvarchar](500) NULL,
	[order] [nvarchar](max) NOT NULL,
	[total] [int] NULL,
 CONSTRAINT [PK__Orders__3213E83FC6B28546] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/8/2020 2:52:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productID] [int] NOT NULL,
	[productName] [nvarchar](100) NOT NULL,
	[price] [int] NULL,
	[categoryID] [int] NOT NULL,
	[detail] [nvarchar](2000) NULL,
	[stock] [nvarchar](50) NULL,
	[img] [nvarchar](500) NULL,
 CONSTRAINT [PK__Products__2D10D14ADD38D3AD] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([username], [fullname], [password], [email], [phonenumber], [address]) VALUES (N'admin', N'Administrator', N'123', N'admin@gmail.com', N'0397574822', N'Ha Noi')
INSERT [dbo].[Account] ([username], [fullname], [password], [email], [phonenumber], [address]) VALUES (N'evape', N'Alkalin', N'12345', N'prj321@admin.com', N'7492384792874', N'Bac Giang')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (1, N'Freebase Juice')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (2, N'Salt-Nicotine Juice')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (3, N'Device')
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([id], [imgsrc], [productID]) VALUES (1, N'https://product.hstatic.net/200000019872/product/licorne-by-curieux-_60ml_-_dau-tay-thanh-long__9e01d55817324ad792e9168885c3868d_master.jpg', 1)
INSERT [dbo].[Image] ([id], [imgsrc], [productID]) VALUES (2, N'https://file.hstatic.net/200000019872/file/licorne_by_curieux__60ml___dau_tay_thanh_long__1_1a91640dd9f1475090481dee6b205d53.jpg', 1)
INSERT [dbo].[Image] ([id], [imgsrc], [productID]) VALUES (3, N'https://product.hstatic.net/200000019872/product/better-days-ice-by-secret-menu-60ml-nuoc-tao-ep-lanh_d41037142f5a4f1cbabf0064719f0e1b_master.jpg', 5)
SET IDENTITY_INSERT [dbo].[Image] OFF
INSERT [dbo].[Products] ([productID], [productName], [price], [categoryID], [detail], [stock], [img]) VALUES (1, N'LICORNE BY CURIEUX (60ML)', 490000, 1, N'Licorne is a unique and surprising combination of strawberry and dragon fruit flavors', N'Available', N'https://product.hstatic.net/200000019872/product/licorne-by-curieux-_60ml_-_dau-tay-thanh-long__9e01d55817324ad792e9168885c3868d_master.jpg')
INSERT [dbo].[Products] ([productID], [productName], [price], [categoryID], [detail], [stock], [img]) VALUES (2, N'CARAMEL CAPPUCCINO SEATTLE NORTH AMERICA BY BRWD (100ML)', 200000, 1, N'BRWD Seattle is the flavor of a fragrant caramel-covered cappuccino', N'Out of Stock', N'https://product.hstatic.net/200000019872/product/-cappuccino-seattle-north-america-by-brwd-_100ml_-_cappuccino-caramel__f8596e822bbf4c2694c8d3b11b4c1629_master.jpg')
INSERT [dbo].[Products] ([productID], [productName], [price], [categoryID], [detail], [stock], [img]) VALUES (3, N'LEMON TART BY DINNER LADY (60ML) ', 380000, 1, N'Lemon Tart is a lemon cake with a thin buttery crust, creamy lemon sauce, and delicious meringue cream', N'Available', N'https://product.hstatic.net/200000019872/product/lemon-tart-by-dinner-lady-60ml-banh-tart-chanh-3wjfb_d32ed0185a8d4e6c9277312399b7368d_master.jpg')
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK__Image__productID__5165187F] FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK__Image__productID__5165187F]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__catego__398D8EEE] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__catego__398D8EEE]
GO
